// base.scss
// 共通情報、フォント情報や色情報

//color
$white :#ffffff;
$blue :#204a65;
$green :#71cccf;
$pink :#f68bba;
$black :#2e2e2e;
$ghost :#fafafa;
$base :#f8f8f8;
$font :#555555;

body {
  font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", Verdana, "游ゴシック", YuGothic, "メイリオ", Meiryo, sans-serif;
  text-align: justify;
  text-justify: distribute;
  background-color: $base;
  color: $font;
  line-height: 1.6;
  font-size: 14px;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration:none;
  color: $pink;
}

a:hover img {
  opacity:0.8;
  filter:alpha(opacity=80);
  -ms-filter: "alpha( opacity=80 )";
}

button {
 border: 0;
 margin: 0;
 padding: 0;
 -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
 background: transparent none;
 font-size: inherit;
}

.g-font {
  font-family: 'Josefin Sans', sans-serif;
}

.btn {
  margin: 5px 0;
}
.btn a {
  color: $white;
  font-weight: bold;
  font-size: 14px;
  display: inline-block;
  padding: 5px 16px 3px;
  border-radius: 2px;
  font-family: 'Josefin Sans', sans-serif;
  &:active {
    box-shadow: none;
    margin: 2px 0 -2px;
  }
}

.pink a {
  background: $pink;
  box-shadow: 0 3px 0 darken($pink, 10%);
  &:hover {
    background: darken($pink, 1%);
  }
}
