// dropnav.scss
// レスポンシブナビゲーション
/* ナビゲーション */

// nav-btn
.nav-btn {
  display: none;
}


//nav共通
#nav {
  float: right;
  font-family: 'Josefin Sans', sans-serif;
  li {
    position: relative;
    a {
      display: block;
    }
  }
}


//第１階層
 .first-nav .current {
    color: $green;
  }

.first-nav {
  height: 40px;
  > li {
    float: left;
    > a {
      padding: 20px;
      color: $blue;
      font-size: 15px;
        &:hover {
          color: $green;
        }
    }
  }
}


//第２階層
.first-nav li:hover .second-nav { //ホバーのときだけ第２階層表示
  display: block;
}

.second-nav {
  position: absolute;
  margin-top: -10px;
  top: 100%;
  display: none;
  &:after {
    border: 10px solid transparent;
    border-bottom-color: $blue;
    border-top-width: 0;
    top: -10px;
    content: "";
    display: block;
    left: 20px;
    position: absolute;
    width: 0;
  }
  li a {
    background: $blue;
    color: $white;
    min-width: 100px;
    padding: 15px;
    line-height: 1;
    font-size: 13px;
    &:hover {
      color: $green;
    }
  }
}


@media handheld, only screen and (max-width: 767px) {

  //nav-btn
  .nav-btn {
    height: 62px;
    color: $blue;
    padding-top: 16px;
  }

  .nav-btn-hide {
    background: $blue;
    color: $white;
  }

  #nav:not( :target ) a.nav-btn:first-of-type,
  #nav:target a.nav-btn:last-of-type {
    display: block;
    float: right;
    width: 50px;
    text-align: center;
  }


  //nav共通
  #nav {
    float: none;
    z-index: -1;
    position: relative;
    li a {
      color: $white;
      &:hover {
        color: $green;
      }
    }
  }


  //第１階層
  #nav:target .first-nav {
    display: block;
  }

  .first-nav .current {
    color: $green !important;
    background: darken( $blue, 5% );
  }

  .first-nav {
    position: absolute;
    right: 0;
    left: 0;
    display: none;
    height: auto;
    background: $blue;
    text-align: center;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    > li {
      float: none;
      width: 100%;
       > a {
        padding: 10px 0;
          &:hover {
            background: darken( $blue, 5% );
          }
        }
      }
    }


  //第２階層
  .second-nav {
    position: static;
    margin-top: 0;
    &:after {
      border: none;
      position: static;
    }
    li a {
      background: darken( $blue, 8% );
      width: 100%;
      padding: 14px 20px;
      text-align: left;
      border-bottom: 1px solid darken( $blue, 10% );
      &:hover {
        background: darken( $blue, 10% );
      }
    }
  }

}