// layout.scss
// レイアウト情報
// プレフィックス l-*

.l-100 {
  width: 100%;
}

.l-inner {
  padding: 0 20px;
}

.l-left {
  float: left;
}

.l-right {
  float: right;
}

.l-center {
  text-align: center;
}

@media handheld, only screen and (max-width: 767px) {

  
}