// module.scss
// 基本的なパーツ

header {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: relative;
  height: 62px;
  background: $white;
  .main-logo {
    padding-top: 10px;
    padding-left: 20px;
  }
}

.mainvisual-container {
  margin-bottom: 20px;
  img {
    width: 100%;
  }
}

.nest-lead {
  margin-right: 20px;
}

.lead {
  position: relative;
  text-align: center;
  font-size: 28px;
  margin-bottom: 10px;
  font-family: 'Josefin Sans', sans-serif;
  &:before {
    border-top: 1px solid #555555;
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
  }
  span {
    background-color: $base;
    display: inline-block;
    padding: 0 1em;
    position: relative;
    max-width: 80%;
    line-height: 1.2;
  }
}


footer {
  color: $white;
  background: $black;
  height: auto;
  padding: 20px 0;
  .copyright {
    font-size: 11px;
  }
}

.footer-nav {
  margin-bottom: 14px;
  dt {
    color: $pink;
    margin-bottom: 10px;
    font-size: 14px;
  }
  dd a {
    color: $white;
    font-size: 13px;
    &:hover {
      color: $pink;
    }
  }
}

//index.html 
.eventlist, .eventdetail {
  box-shadow: 0 0 2px rgba(0,0,0,0.15);
  margin-bottom: 20px;
  background: #fff;
}

.eventlist-img-wrap {
  width: 100%;
  height: 200px;
}

.eventlist-detail {
  position: relative;
  padding: 10px;
  margin-top: -8px;
}

.eventlist-date-wrap {
  position: relative;
  margin: -30px auto 0;
  width: 60px;
  height: 60px;
}

.eventlist-date {
  border-radius: 50%;
  text-align: center;
  color: #fff;
  display: block;
  height: 100%;
  position: relative;
  width: 100%;
  background-color: #204a65;
  line-height: 1.2;
  font-size: 12px;
  font-weight: bold;
  display: inline-block;
  padding-top: 15px;
  font-family: 'Josefin Sans', sans-serif;
}

.eventlist-ttl {
  color: $green;
  font-size: 18px;
  font-weight: bold;
  padding-top: 10px;
}

.eventlist-txt {
  line-height: 1.6 !important;
}

//event.html

.eventdetail-catch{
  text-align: center; 
  color: $white;
  line-height: 1.4;
  text-shadow: 1px 1px 0 darken($green, 4%);
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 95%;
  position:relative;
  padding:8px 1%;
  background:$green;
  box-shadow:-10px 0 0 0 $green;
  &:before{
    content:" ";
    position:absolute;
    top:100%;
    left:-10px;
    width:0;
    height:0;
    border-width:0 10px 10px 0;
    border-style:solid;
    border-color:transparent;
    border-right-color:darken($green, 10%);
  }
}


.eventdetail-text {
  padding: 10px 20px 20px;
}

.eventdetail-detail {
  margin-bottom: 20px;
  dt {
    float: left;
    min-width: 20%;
    font-weight: bold;
    i {
      font-weight: normal;
    }
  }
  dd {
    padding-left: 20%;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding-bottom: 10px;
  }
}




@media handheld, only screen and (max-width: 767px) {

  footer {
    padding-top: 0;
  }

  .mainvisual-container {
    margin-bottom: 0;
  }

  .nest-lead {
    margin-right: 10px;
  }

  .lead {
    font-size: 18px;
    margin-bottom: 0px;
    span {
      padding: 0 0.5em;
      line-height: 1;
    }
  }

  .nest-lead {
    margin-bottom: -20px;
  }

  .eventlist-ttl {
    font-size: 15px;
  }

  .eventlist-txt {
    font-size: 13px;
  }

  .eventdetail {
    margin-top: 10px;
  }


  .eventdetail-detail {
    dt {
      float: none;
      width: 100%;
    }
    dd {
      padding-left: 0;
    }
  }

}