@charset 'UTF-8';
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video
{
    font: inherit;
    font-size: 100%;

    margin: 0;
    padding: 0;

    vertical-align: baseline;

    border: 0;
}

html
{
    line-height: 1;
}

ol, ul
{
    list-style: none;
}

table
{
    border-spacing: 0;
    border-collapse: collapse;
}

caption, th, td
{
    font-weight: normal;

    text-align: left;
    vertical-align: middle;
}

q, blockquote
{
    quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after
{
    content: '';
    content: none;
}

a img
{
    border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary
{
    display: block;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary
{
    display: block;
}

body
{
    font-family: 'ヒラギノ角ゴ ProN W3', 'Hiragino Kaku Gothic ProN', Verdana, '游ゴシック', YuGothic, 'メイリオ', Meiryo, sans-serif;
    font-size: 14px;
    line-height: 1.6;

    text-align: justify;
    text-justify: distribute;

    color: #555;
    background-color: #f8f8f8;
}

.clearfix:after
{
    font-size: 0;

    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: '';
}

* html .clearfix
{
    zoom: 1;
}

/* IE6 */
*:first-child + html .clearfix
{
    zoom: 1;
}

/* IE7 */
*, *:before, *:after
{
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

a
{
    text-decoration: none;

    color: #f68bba;
}

a:hover img
{
    opacity: .8;

        filter: alpha(opacity=80);
    -ms-filter: 'alpha( opacity=80 )';
}

button
{
    font-size: inherit;

    margin: 0;
    padding: 0;

    border: 0;
    background: transparent none;

    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.g-font
{
    font-family: 'Josefin Sans', sans-serif;
}

.btn
{
    margin: 5px 0;
}

.btn a
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;

    display: inline-block;

    padding: 5px 16px 3px;

    color: white;
    border-radius: 2px;
}
.btn a:active
{
    margin: 2px 0 -2px;

    box-shadow: none;
}

.pink a
{
    background: #f68bba;
    box-shadow: 0 3px 0 #f25c9e;
}
.pink a:hover
{
    background: #f686b7;
}

.l-100
{
    width: 100%;
}

.l-inner
{
    padding: 0 20px;
}

.l-left
{
    float: left;
}

.l-right
{
    float: right;
}

.l-center
{
    text-align: center;
}

header
{
    position: relative;
    z-index: 1;

    height: 62px;

    background: white;
    box-shadow: 0 0 4px rgba(0, 0, 0, .2);
}
header .main-logo
{
    padding-top: 10px;
    padding-left: 20px;
}

.mainvisual-container
{
    margin-bottom: 20px;
}
.mainvisual-container img
{
    width: 100%;
}

.nest-lead
{
    margin-right: 20px;
}

.lead
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 28px;

    position: relative;

    margin-bottom: 10px;

    text-align: center;
}
.lead:before
{
    position: absolute;
    top: 50%;
    left: 0;

    width: 100%;

    content: '';

    border-top: 1px solid #555;
}
.lead span
{
    line-height: 1.2;

    position: relative;

    display: inline-block;

    max-width: 80%;
    padding: 0 1em;

    background-color: #f8f8f8;
}

footer
{
    height: auto;
    padding: 20px 0;

    color: white;
    background: #2e2e2e;
}
footer .copyright
{
    font-size: 11px;
}

.footer-nav
{
    margin-bottom: 14px;
}
.footer-nav dt
{
    font-size: 14px;

    margin-bottom: 10px;

    color: #f68bba;
}
.footer-nav dd a
{
    font-size: 13px;

    color: white;
}
.footer-nav dd a:hover
{
    color: #f68bba;
}

.eventlist, .eventdetail
{
    margin-bottom: 20px;

    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, .15);
}

.eventlist-img-wrap
{
    width: 100%;
    height: 200px;
}

.eventlist-detail
{
    position: relative;

    margin-top: -8px;
    padding: 10px;
}

.eventlist-date-wrap
{
    position: relative;

    width: 60px;
    height: 60px;
    margin: -30px auto 0;
}

.eventlist-date
{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.2;

    position: relative;

    display: block;
    display: inline-block;

    width: 100%;
    height: 100%;
    padding-top: 15px;

    text-align: center;

    color: #fff;
    border-radius: 50%;
    background-color: #204a65;
}

.eventlist-ttl
{
    font-size: 18px;
    font-weight: bold;

    padding-top: 10px;

    color: #71cccf;
}

.eventlist-txt
{
    line-height: 1.6 !important;
}

.eventdetail-catch
{
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;

    position: relative;

    width: 95%;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 8px 1%;

    text-align: center;

    color: white;
    background: #71cccf;
    box-shadow: -10px 0 0 0 #71cccf;
    text-shadow: 1px 1px 0 #62c7ca;
}
.eventdetail-catch:before
{
    position: absolute;
    top: 100%;
    left: -10px;

    width: 0;
    height: 0;

    content: ' ';

    border-width: 0 10px 10px 0;
    border-style: solid;
    border-color: transparent;
    border-right-color: #4bbec2;
}

.eventdetail-text
{
    padding: 10px 20px 20px;
}

.eventdetail-detail
{
    margin-bottom: 20px;
}
.eventdetail-detail dt
{
    font-weight: bold;

    float: left;

    min-width: 20%;
}
.eventdetail-detail dt i
{
    font-weight: normal;
}
.eventdetail-detail dd
{
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-left: 20%;

    border-bottom: 1px solid #ddd;
}

@media handheld, only screen and (max-width: 767px)
{
    footer
    {
        padding-top: 0;
    }

    .mainvisual-container
    {
        margin-bottom: 0;
    }

    .nest-lead
    {
        margin-right: 10px;
    }

    .lead
    {
        font-size: 18px;

        margin-bottom: 0;
    }
    .lead span
    {
        line-height: 1;

        padding: 0 .5em;
    }

    .nest-lead
    {
        margin-bottom: -20px;
    }

    .eventlist-ttl
    {
        font-size: 15px;
    }

    .eventlist-txt
    {
        font-size: 13px;
    }

    .eventdetail
    {
        margin-top: 10px;
    }

    .eventdetail-detail dt
    {
        float: none;

        width: 100%;
    }
    .eventdetail-detail dd
    {
        padding-left: 0;
    }
}
/* ナビゲーション */
.nav-btn
{
    display: none;
}

#nav
{
    font-family: 'Josefin Sans', sans-serif;

    float: right;
}
#nav li
{
    position: relative;
}
#nav li a
{
    display: block;
}

.first-nav .current
{
    color: #71cccf;
}

.first-nav
{
    height: 40px;
}
.first-nav > li
{
    float: left;
}
.first-nav > li > a
{
    font-size: 15px;

    padding: 20px;

    color: #204a65;
}
.first-nav > li > a:hover
{
    color: #71cccf;
}

.first-nav li:hover .second-nav
{
    display: block;
}

.second-nav
{
    position: absolute;
    top: 100%;

    display: none;

    margin-top: -10px;
}
.second-nav:after
{
    position: absolute;
    top: -10px;
    left: 20px;

    display: block;

    width: 0;

    content: '';

    border: 10px solid transparent;
    border-top-width: 0;
    border-bottom-color: #204a65;
}
.second-nav li a
{
    font-size: 13px;
    line-height: 1;

    min-width: 100px;
    padding: 15px;

    color: white;
    background: #204a65;
}
.second-nav li a:hover
{
    color: #71cccf;
}

@media handheld, only screen and (max-width: 767px)
{
    .nav-btn
    {
        height: 62px;
        padding-top: 16px;

        color: #204a65;
    }

    .nav-btn-hide
    {
        color: white;
        background: #204a65;
    }

    #nav:not(:target) a.nav-btn:first-of-type,
  #nav:target a.nav-btn:last-of-type
    {
        display: block;
        float: right;

        width: 50px;

        text-align: center;
    }

    #nav
    {
        position: relative;
        z-index: -1;

        float: none;
    }
    #nav li a
    {
        color: white;
    }
    #nav li a:hover
    {
        color: #71cccf;
    }

    #nav:target .first-nav
    {
        display: block;
    }

    .first-nav .current
    {
        color: #71cccf !important;
        background: #1a3c52;
    }

    .first-nav
    {
        position: absolute;
        right: 0;
        left: 0;

        display: none;

        height: auto;

        text-align: center;

        background: #204a65;
        box-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    }
    .first-nav > li
    {
        float: none;

        width: 100%;
    }
    .first-nav > li > a
    {
        padding: 10px 0;
    }
    .first-nav > li > a:hover
    {
        background: #1a3c52;
    }

    .second-nav
    {
        position: static;

        margin-top: 0;
    }
    .second-nav:after
    {
        position: static;

        border: none;
    }
    .second-nav li a
    {
        width: 100%;
        padding: 14px 20px;

        text-align: left;

        border-bottom: 1px solid #142e3e;
        background: #163346;
    }
    .second-nav li a:hover
    {
        background: #142e3e;
    }
}
